{% extends "homepage/base.html" %}

{% block title %}Home | Acknowledgements{% endblock %}

{% block content %}
    <div class="text-box">
        <h2>Acknowledgements</h2>

        <p>
            The project uses `Python` for the backend and `SQLite` as the database. `Python` has a package called
            `Flask` that acts as the middle-end for the project. It ensures connection between the frontend and the
            backend and allows for more complex functions like page routing and form submission using `GET` and `POST`
            HTTP methods.
        </p>
        <br>
        <p>
            &emsp;&emsp;&emsp;&emsp;The project is organised into various modules that handle common functionality like
            frontend dependency management, backend database connection and more. To interact with the database, a
            custom lite-ORM has been written from scratch that models the database relations in `Python` using
            `dataclasses`. The project is also extensively tested especially for database interactions, which includes a
            smaller test database.
        </p>
        <br>
        <p>
            &emsp;&emsp;&emsp;&emsp;It is hosted in GitHub and uses open-source software wherever possible and can be
            forked and modified as required by the customer if required.
        </p>

        <br>

        <a href="/factory">View Project</a>
    </div>
{% endblock %}
